---
import Layout from "@layouts/Layout.astro";

const title = "Page Not Found";
---

<Layout title={title}>
    <Fragment slot="head"><meta name="robots" content="noindex" /></Fragment>

    <div class="text-white-50">
        <h1>{title}</h1>

        <div class="mb-4">This page could not be found.</div>
    </div>
</Layout>
