---
import Layout from "@layouts/Layout.astro";
import PortalSection from "@components/portal/PortalSection.astro";
import PortalLink from "@components/portal/PortalLink.astro";
import { Image } from "@astrojs/image/components";
import avatar from "@assets/images/avatar.jpg";
import type { IconProps } from "phosphor-react";
import {
    At,
    Code,
    Coins,
    DiscordLogo,
    GameController,
    GithubLogo,
    Globe,
    MusicNotes,
    TwitchLogo,
    TwitterLogo,
    User,
    YoutubeLogo,
} from "phosphor-react";

const iconProps: IconProps = {
    color: "white",
    size: 32,
    weight: "fill",
};
---

<Layout>
    <Fragment slot="head">
        <meta name="description" content="SmoothNanners is a gamer, musician, software developer, and photographer." />
    </Fragment>

    <div class="d-flex mb-4">
        <div id="avatar" class="flex-shrink-1">
            <Image src={avatar} alt="SmoothNanners" class="img-fluid rounded-2" quality={100} />
        </div>

        <div id="bio" class="w-100 text-white fs-5 ms-3">
            <p>Howdy! My name is Austin.</p>

            <p>I&apos;m a gamer, musician, software developer, and photographer.</p>

            <p class="mb-0">You can find links to my content and websites below!</p>
        </div>
    </div>

    <PortalSection variant="primary" title="Gaming">
        <GameController slot="icon" {...iconProps} />

        <Fragment slot="links">
            <PortalLink variant="danger" url="https://www.youtube.com/channel/UCQB1XVER5WPtxRESxHMG1Qw" text="YouTube">
                <YoutubeLogo {...iconProps} />
            </PortalLink>

            <PortalLink variant="primary" url="https://www.twitch.tv/smoothnanners" text="Twitch">
                <TwitchLogo {...iconProps} weight="bold" />
            </PortalLink>

            <PortalLink variant="dark" url="https://discord.gg/P7rhAhA" text="Discord">
                <DiscordLogo {...iconProps} />
            </PortalLink>

            <PortalLink variant="dark" url="https://gamebyline.com" text="Game Byline">
                <Globe {...iconProps} weight="regular" />
            </PortalLink>
        </Fragment>
    </PortalSection>

    <PortalSection variant="secondary" title="Music">
        <MusicNotes slot="icon" {...iconProps} />

        <Fragment slot="links">
            <PortalLink variant="danger" url="https://www.youtube.com/channel/UCPjcGsO8o_FKPGHLQ5d1hbg" text="YouTube">
                <YoutubeLogo {...iconProps} />
            </PortalLink>
        </Fragment>
    </PortalSection>

    <PortalSection variant="light" title="Programming">
        <Code slot="icon" {...iconProps} weight="regular" />

        <Fragment slot="links">
            <PortalLink variant="danger" url="https://www.youtube.com/channel/UCJjowuNoLywGC7ujP74zFJg" text="YouTube">
                <YoutubeLogo {...iconProps} />
            </PortalLink>

            <PortalLink variant="dark" url="https://github.com/austins" text="GitHub">
                <GithubLogo {...iconProps} weight="regular" />
            </PortalLink>

            <PortalLink variant="dark" url="https://austinsdev.com" text="Austin's Dev">
                <Globe {...iconProps} weight="regular" />
            </PortalLink>
        </Fragment>
    </PortalSection>

    <PortalSection variant="dark" title="Social">
        <User slot="icon" {...iconProps} weight="regular" />

        <Fragment slot="links">
            <PortalLink variant="info" url="https://twitter.com/smoothnanners" text="Twitter">
                <TwitterLogo {...iconProps} />
            </PortalLink>

            <PortalLink variant="dark" url="https://streamelements.com/smoothnanners/tip" text="Donate / Tip">
                <Coins {...iconProps} weight="regular" />
            </PortalLink>

            <PortalLink variant="dark" url="mailto:austin@austinsdev.com" text="Email">
                <At {...iconProps} weight="regular" />
            </PortalLink>
        </Fragment>
    </PortalSection>
</Layout>

<style>
    #avatar {
        width: 264px;
    }

    @media only screen and (max-width: 575px) {
        #avatar {
            max-width: 27.4vw;
        }

        #bio {
            font-size: 3.4vw !important;
        }
    }
</style>
